data/

doc/*
!doc/report/
doc/report/*
!doc/report/*md
!doc/report/*files/

!doc/references/
doc/references/*
!doc/references/*bib
!doc/references/*csl

!doc/manuscript
doc/manuscript/*
!doc/manuscript/*md
!doc/manuscript/*files/

results/

scripts/.Rhistory
.Rproj.user
